<address class="social-icons">
    <% if (feed) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="rss" 
        href="<%- feed %>">
        <svg class="icon__svg">
            <use xlink:href="#rss">
        </svg>
    </a>
    <% } %>

    <% if (github) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="github" 
        href="<%- github %>">
        <svg class="icon__svg">
            <use xlink:href="#github">
        </svg>
    </a>
    <% } %>
    
    <% if (gmail) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="gmail" 
        href="<%- gmail %>">
        <svg class="icon__svg">
            <use xlink:href="#gmail">
        </svg>
    </a>
    <% } %>
    
    <% if (whatsapp) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="whatsapp" 
        href="<%- whatsapp %>">
        <svg class="icon__svg">
            <use xlink:href="#whatsapp">
        </svg>
    </a>
    <% } %>
    
    <% if (linkedin) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="linkedin" 
        href="<%- linkedin %>">
        <svg class="icon__svg">
            <use xlink:href="#linkedin">
        </svg>
    </a>
    <% } %>
    
    <% if (twitter) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="twitter" 
        href="<%- twitter %>">
        <svg class="icon__svg">
            <use xlink:href="#twitter">
        </svg>
    </a>
    <% } %>
    
    <% if (facebook) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="facebook" 
        href="<%- facebook %>">
        <svg class="icon__svg">
            <use xlink:href="#facebook">
        </svg>
    </a>
    <% } %>
    
    <% if (instagram) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="instagram" 
        href="<%- istagram %>">
        <svg class="icon__svg">
            <use xlink:href="#instagram">
        </svg>
    </a>
    <% } %>
    
    <% if (youtube) { %>
    <a 
        class="icon" 
        target="_blank" 
        title="youtube" 
        href="<%- youtube %>">
        <svg class="icon__svg">
            <use xlink:href="#youtube">
        </svg>
    </a>
    <% } %>
</address>