<!DOCTYPE html>
<html lang="<%- config.language %>">

<%- partial('partial/head') %>
<body itemscope itemprop="blogPost">
    <%- body %>
    <%- js('scripts/script') %>
    <%- partial('partial/analitycs') %>
</body>
</html>