<!DOCTYPE html>
<html lang="<%- config.language %>">

<%- partial('partial/head') %>
<body itemscope itemprop="blogPost">
    <%- body %>
    <%- js('scripts/script.min') %>
    <%- partial('partial/script-fb') %>
    <%- partial('partial/analytics') %>
</body>
</html>