<footer class="main-footer">
    <address class="social-icons">

        <% if (config.feed.path) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="rss" 
            href="<%- config.feed.path %>">
            <svg class="icon__svg">
                <use xlink:href="#rss">
            </svg>
        </a>
        <% } %>

        <% if (theme.github) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="github" 
            href="<%- theme.github %>">
            <svg class="icon__svg">
                <use xlink:href="#github">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.gmail) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="gmail" 
            href="<%- theme.gmail %>">
            <svg class="icon__svg">
                <use xlink:href="#gmail">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.whatsapp) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="whatsapp" 
            href="<%- theme.whatsapp %>">
            <svg class="icon__svg">
                <use xlink:href="#whatsapp">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.linkedin) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="linkedin" 
            href="<%- theme.linkedin %>">
            <svg class="icon__svg">
                <use xlink:href="#linkedin">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.twitter) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="twitter" 
            href="<%- theme.twitter %>">
            <svg class="icon__svg">
                <use xlink:href="#twitter">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.facebook) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="facebook" 
            href="<%- theme.facebook %>">
            <svg class="icon__svg">
                <use xlink:href="#facebook">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.instagram) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="instagram" 
            href="<%- theme.instagram %>">
            <svg class="icon__svg">
                <use xlink:href="#instagram">
            </svg>
        </a>
        <% } %>
        
        <% if (theme.youtube) { %>
        <a 
            class="icon" 
            target="_blank" 
            title="youtube" 
            href="<%- theme.youtube %>">
            <svg class="icon__svg">
                <use xlink:href="#youtube">
            </svg>
        </a>
        <% } %>
    </address>
</footer>
<%- partial('partial/svg-icons') %>
