<%- partial('partial/social/share', {
        whatsapp: {
            message: `${config.url}/${page.lang}/${url_data(page.categories)}/${url_title(page.title)}`
        },
        linkedin: {
            url: `${config.url}/${page.lang}/${url_data(page.categories)}/${url_title(page.title)}`,
            title: page.title,
            summary: config.title
        },
        twitter: {
            text: page.title,
            tags: `${config.title},${url_data(page.categories)}`,
            url: `${config.url}/${page.lang}/${url_data(page.categories)}/${url_title(page.title)}`,
        },
        facebook: {
            url: `${config.url}/${page.lang}/${url_data(page.categories)}/${url_title(page.title)}`,
            title: page.title 
        }
}) %>

<h5 class="divisor"><%= __('tags') %></h5>
<% if (page.tags.length > 0) { %>        

    <section class="tags">
        <div class="tags__container">
        <% page.tags.forEach((tag) => { %> 
            <a 
                class="tags__tag" 
                href="/tags/<%- url_title(tag.name) %>"
                tilte="<%= __('tag') %>"><%- tag.name %></a>         
        <% }) %>
        </div>
    </section>

<% } %>   

<%- partial('partial/comments') %>

<%- partial('partial/svg-icons') %>