<h5 class="divisor"><%= __('share') %></h5>
        
<a 
    device-link
    class="icon" 
    target="_blank" 
    data-action="share/whatsapp/share"
    title="<%= __('shareon') %> whatsapp" 
    href='{ "mobile": "whatsapp://send?text=<%- config.url %>/<%- page.lang %>/<%- url_data(page.categories) %>/<%- url_title(page.title) %>/", "desktop": "https://web.whatsapp.com/send?text=<%- config.url %>/<%- page.lang %>/<%- url_data(page.categories) %>/<%- url_title(page.title) %>/" }'>
    <svg class="icon__svg">
        <use xlink:href="#whatsapp">
    </svg>
</a>

<a 
    class="icon" 
    target="_blank" 
    title="<%= __('shareon') %> linkedin" 
    href="https://www.linkedin.com/shareArticle?mini=true&summary=<%- config.title %>&title=<%- page.title %>&url=<%- config.url %>/<%- page.lang %>/<%- url_data(page.categories) %>/<%- url_title(page.title) %>/">
    <svg class="icon__svg">
        <use xlink:href="#linkedin">
    </svg>
</a>

<a 
    class="icon" 
    target="_blank" 
    title="twitter" 
    href="http://twitter.com/share?text=<%- page.title %>&url=<%- config.url %>/<%- page.lang %>/<%- url_data(page.categories) %>/<%- url_title(page.title) %>/&hashtags=<%- config.title %>,<%- url_data(page.categories) %>">
    <svg class="icon__svg">
        <use xlink:href="#twitter">
    </svg>
</a>
<a 
    class="icon" 
    target="_blank" 
    title="<%= __('shareon') %> facebook" 
    href="https://www.facebook.com/sharer.php?u=<%- config.url %>/<%- page.lang %>/<%- url_data(page.categories) %>/<%- url_title(page.title) %>/&t=<%- page.title %>">
    <svg class="icon__svg">
        <use xlink:href="#facebook">
    </svg>
</a>

<% if (page.tags.length > 0) { %>        

    <h5 class="divisor"><%= __('tags') %></h5>

    <section class="tags">
        <div class="tags__container">
        <% page.tags.forEach((tag) => { %> 
            <a 
                class="tags__tag" 
                href="/tags/<%- url_title(tag.name) %>"
                tilte="<%= __('tag') %>"><%- tag.name %></a>         
        <% }) %>
        </div>
    </section>

<% } %>   

<%- partial('partial/svg-icons') %>