<%- partial('partial/nav-header') %>
<header class="main-header">
    <div class="main-header__background"></div>
    <div class="main-header__container">        
        <h1 class="main-header__title">
            <%- page.title %></h1>
        <p class="main-header__container__description">
            <a 
                class="description__category" 
                href="/categories/<%- url_data(page.categories) %>"
                tilte="<%= __('category') %>"><%- first_data(page.categories) %></a>
            <br>
            <time 
                class="description__day" 
                datetime="<%- date(page.date, 'YYYY-MM-DD') %>" 
                title="<%= __('published') %> <%- date(page.date, 'D MMM YYYY') %>"><%- full_date(page.date, 'DD MMM YY HH[h] m[m]') %></time>        
        </p>
    </div>
</header>